/* Fontes */
@import url("https://use.typekit.net/msu5all.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');



.content{
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.content p{
    font-size: 10rem;
    font-family: 'Archivo', sans-serif;
    color: var(--cinza);
}
.content h1{
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: var(--cinza);
}



.main{
    width: 100%;
    height: 100%;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.main h4{
    color: var(--laranja);
    font-size: 3rem;
    font-family: 'Archivo', sans-serif;   
    font-weight: 600;
}
.main span{
    color: var(--cinza);
    
}
.main .container{
    width: 100%;
    height: 100%;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.main .container p{
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;   
    font-weight: 300;
    text-align: center;
    color: var(--cinza);
}
.main .container h1{
    font-size: 2.4rem;
    font-family: 'Archivo', sans-serif;   
    font-weight: 500;
    color: var(--cinza);
}

.form-cad-caixa{
    
}
.form-cad-caixa input, select{
    padding: 0.4vh 1.1vw 0.4vh 1.1vw;
    margin: 1rem;
    border-collapse: collapse;
    border-style: none;
    border-bottom: 1px solid var(--cinza);
    font-family: 'Archivo', sans-serif;
    color: var(--cinza);
    transition: all 0.3s ease;
    
}


.form-cad-caixa:focus{
    border-bottom: 20px solid var(--azul);
}


.form-cad-caixa select{
    padding-right: 4.7vw;
    background-color: var(--branco);
    color: var(--cinza);
}
.form-cad-caixa{
    
}
.btn{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn input{
    background-color: var(--laranja);
    color: var(--branco);
    font-family: bebas-neue-by-fontfabric, sans-serif;
    margin: 2vh 2vw 2vh 2vw;
    padding: 1.75vh 1vw 1vh 1vw;
    font-size: 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn input:hover{
    background-color: var(--branco);
    color: var(--laranja);
}
.div-time{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hrr{
    font-size: 1.4rem;
    font-family: 'Archivo', sans-serif;   
    color: var(--cinza);
    
    
}

table{
    border-collapse: collapse;
}
tr{

}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

th{
    font-size: 1.6rem;
    font-family: 'Archivo', sans-serif;
    padding: 1.5vh 5vw 1.5vh 5vw;
    color: var(--branco);
    background-color: var(--laranja);
    
}
.canto-dir{
    border-top-right-radius: 1rem;
}
.canto-esq{
    border-top-left-radius: 1rem;
}


td{
    padding: 1vh 1vw 1vh 1vw;
    text-align: left;
    
    font-size: 1.6rem;
    font-family: 'Archivo', sans-serif;
}

.container-adm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}



.btn-cad-caixa{
    padding: 0.4vh 1.1vw 0.4vh 1.1vw;
    margin: 1rem;
    border-collapse: collapse;
    border-style: none;
    border-bottom: 1px solid var(--cinza);
    font-family: 'Archivo', sans-serif;
    color: var(--cinza);
}

.filtro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.caixafiltro{
    border: none;
    border-bottom: 2px solid var(--laranja);
    padding: 1vh 1.5vw;
    margin: 0 1vw;
    font-family: 'Archivo', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
}
.caixafiltro:focus{
    border-bottom: 2px solid var(--azul);
}

select{
    background-color: var(--branco);
}
.btn-pesquisar{
    padding: 0.8vh 2.2vw 0.8vh 2.2vw;
    margin: 4vh 1vw 0 1vw;
    border-collapse: collapse;
    border-style: none;
    border-radius: 1rem;
    font-family: 'Archivo', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--branco);
    background-color: var(--laranja);
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-pesquisar:hover{
    background-color: var(--branco);
    color: var(--laranja);
}

/* Utilização das fontes
Bebas Neue Regular
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-weight: 400;
    font-style: normal;

font-family: 'Archivo', sans-serif;


*/



.links-fas{

    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.links-fas i{
    background-color: var(--branco);
    color: var(--laranja);
    transition: all 0.3s ease;
}
.links-fas i:hover{
    background-color: var(--branco);
    color: var(--azul);
    
}


.btn-voltar{
    background-color: var(--laranja);
    text-decoration: none;
    color: var(--branco);
    font-family: bebas-neue-by-fontfabric, sans-serif;
    margin: 0vh 2vw 2vh 2vw;
    padding: 1.75vh 1vw 1vh 1vw;
    font-size: 2.5rem;
    border-radius: 1rem; 
    transition: all 0.3s ease;
}
.btn-voltar:hover{
    background-color: var(--branco);
    color: var(--laranja);
}