/*Definição da paleta de cores*/
:root {
    --laranja: #f37021;
    --azul: #006ba1;
    --cinza: #414042;
    --branco: #ffffff;
    --branco-2: #f2f2f2;

    font-size: 10px;
}


/* Importação de fontes */
/* font-family: 'Bebas Neue', cursive; */


