/* Fontes */
@import url("https://use.typekit.net/msu5all.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.head{

    width: 99.5%;
    background-color: var(--laranja);
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border-radius: 1rem;

}

.head a{
    font-family: Archivo;
    font-size: 1.7rem;
    font-weight: 500;
}

.top-nav{

    position: relative;
    width: 98%;
    padding-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    list-style: none;

}

.top-nav ul{
    padding: 0 3vw 0 3vw;
}

.top-nav li{
    display: inline-block;
    padding: 0 1vw 0 1vw
}
.top-nav li a{
    transition: all 0.3s ease 0s;
    color: var(--branco);
    text-decoration: none;
}
/* .top-nav li a:visited{
    transition: all 0.3s ease 0s;
    color: var(--branco);
    text-decoration: none;
    
}
.top-nav .item-menu-selected li a:visited{
    transition: all 0.3s ease 0s;
    color: var(--cinza);
    text-decoration: none;
    
} */
.top-nav li a:hover{
    color: var(--laranja);
    background-color: var(--branco);
    padding: 1.5vh 1.5vw;
    border-radius: 1.5rem;
}


.inicio{
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.2rem;

    color: var(--branco);
}
.link-list{

}
.top-nav .item-menu a{
    color: var(--branco);
}
.top-nav .item-menu-selected a{
    color: var(--laranja);
    background-color: var(--branco);
    padding: 1.5vh 1.5vw;
    border-radius: 1.5rem;
    
}




.logout{
    padding: 1vh 1vw 1vh 1vw;
    transition: all 0.1s ease 0s;
    color: var(--laranja);
    text-decoration: none;
    background-color: var(--branco);
    border-radius: 1rem;
}
.logout:hover{
    color: var(--azul);
}

.img-gn{
    flex:1;
}

@media (min-width: 591px) and (max-width: 830px){
    
    .img-gn{
        display: none;
    }
    .top-nav .item-menu a{
        color: var(--branco);
    }
    .top-nav{
        padding: 4px 0px 4px 0px;
    }
    .top-nav .item-menu-selected a{
        color: var(--branco);
        background: none;
        
        border-radius: 8%;

        border-bottom: 2px solid var(--branco);


        
    }
}
@media(max-width: 590px){
    
    .img-gn{
        display: none;
    }
    .top-nav .item-menu a{
        color: var(--branco);
        

    }
    .top-nav .item-menu, .top-nav .item-menu-selected{
        margin-bottom: 16px;

    }
    .top-nav{
        padding: 4px 0px 4px 0px;
        flex-direction: column;
    }
    .top-nav .item-menu-selected a{
        color: var(--branco);
        background: none;
        
        border-radius: 8%;

        border-bottom: 2px solid var(--branco);


        
    }
}