.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6vh 18vw;
}
