a {
    font-size: 1.4rem;
    text-align: center;
    color: var(--cor-texto-primaria);
    text-decoration: none;
    transition: 0.2s;
}

a:hover{
    color: var(--cor-texto-selecionado-adm);
    background-color: var(--cor-botoes);
}

h1{
    text-align: center;
    
}

p {
    text-align: center;
    justify-content: center;
    padding: 1vw 4vh 1vw 4vh;
}

.textoCentral{
    background-color: var(--cor---cor-fundo);
    text-align: center;
    justify-content: center;
}

.caixaTexto{
    width: 300xp;
}

.fbotao{
    text-align: center;
}


/*Cores principais
--cor-principal-usuario:var(--laranja-principal);
    --cor-principal-adm:var(--verde);
    --cor-botoes:var(--branco);
    --cor-selecao:var(--azul);
    --cor-fundo:var(--branco);
    --cor-texto-primaria: var(--branco);
    --cor-texto-selecionado-adm: var(--cor-principal-adm);
    --cor-texto-selecionado-usr: var(--cor-principal-usuario);
*/