
main input, textarea, button{
    font-size: 1.6rem;
    font-family: Poppins;
    color: var(--cor-texto-secundario);
    
}

/* Conteiner do botao */
.container-botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-botao a{
    color: var(--cor-texto-secundario);
    transition: 0.2s;
}

.container-botao a:hover{
    color: var(--cor-texto-secundario);
}

/* Textos H1, P */

h1{
    text-align: center;
    color: var(--cor-principal-adm);
    
    
}

p {
    text-align: center;
    justify-content: center;
    padding: 1vw 4vh 1vw 4vh;
    color: var(--cor-texto-secundario);
}


/* Divs */

.caixaTexto{
    width: 35vh;
    margin: 0 1.2vh 0 1.2vh;
}
.fbotao{
    text-align: center;
    margin: 4vh;
}

.textoCentral{
    width: 75%;
    background-color: var(--cor---cor-fundo);
    text-align: center;
    justify-content: center;
}

input{
    color: var(--cor-texto-secundario)
}

/* --branco: #ffffff;
    --branco-2: #f1f1f1;
    --cinza-claro: #a5a5a5;
    --azul: #0A8EF2; 
    --azul-claro: #22F2DD;
    --branco: #ffffff;
    --laranja-escuro: #A63C0C;
    --laranja-claro : #FF7B3D;
	--laranja-principal: #F26522;
    --marrom: #A63C0C;
    --preto: #2c2c2c;
    --roxo-escuro: #0A14F2;
    --roxo-claro: #0F15A6;
    --verde: #00A695; 
    --verde-claro: #6FF23A;  
    --verde-selecionado: #22F2DD;
    --cor-texto-secundario: var(--preto);
    --cor-principal-usuario:var(--laranja-principal);
    --cor-principal-adm:var(--verde);
    --cor-botoes:var(--branco);
    --cor-selecao:var(--azul);
    --cor-fundo:var(--branco);
    --cor-texto-primaria: var(--branco);
    --cor-texto-selecionado-adm: var(--cor-principal-adm);
    --cor-texto-selecionado-usr: var(--cor-principal-usuario); */