body textarea{
    font-family: Poppins;
}



.sidenav {
    height: 100%; /* altura máxima */
    width: 20vw; /* largura da sidebar */
    position: fixed; /* a sidebar fica fixa */
    z-index: 1; /* aparece acima de tudo */
    top: 0; 
    left: 0;
    background-color: var(--cor-principal-adm); /* cor */
    overflow-x: hidden; /* sem scroll */
    padding-top: 20px;
    text-align: center;
}

/* links */

.link {
    
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--cor-texto-primaria);
    display: block;

    transition: 0.2s;

    border-radius: 12rem;
    font: 400 1.2rem Poppins;
    text-decoration: none;
    background-color: var(--cor-principal-adm);
    border-style: solid;
    transition: 0.2s;
    padding: 0.8vh 0 0.8vh 0;
}
.sidenav p{
    padding: 0.4vh 2vh 0.4vh 2vh;
}

.sidenav a:hover {
    color: var(--branco-2);
    border-color: var(--branco-2);
}

.selected a{
    color: var(--cor-principal-adm);
    background-color: var(--branco-2);
    border-color: var(--verde-selecionado);
    font-weight: 700;
}

.side-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 18vh 0;
}
.side-header h1{
    text-align: center;
    color: var(--cor-texto-primaria);
    padding: 0 8vw 0 0;
}
.side-header img{
    height: 5vh;
    padding: 0.6vh 0 0 0;
}


/* pagina */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}








/* --branco: #ffffff;
    --cinza-claro: #A0A0A0;
    --azul: #0A8EF2; 
    --azul-claro: #22F2DD;
    --branco: #ffffff;
    --laranja-escuro: #A63C0C;
    --laranja-claro : #FF7B3D;
	--laranja-principal: #F26522;
    --marrom: #A63C0C;
    --preto: #2c2c2c;
    --roxo-escuro: #0A14F2;
    --roxo-claro: #0F15A6;
    --verde: #00A695; 
    --verde-claro: #6FF23A;  
    
    --cor-texto-secundario: var(--preto);
    --cor-principal-usuario:var(--laranja-principal);
    --cor-principal-adm:var(--verde);
    --cor-botoes:var(--branco);
    --cor-selecao:var(--azul);
    --cor-fundo:var(--branco);
    --cor-texto-primaria: var(--branco);
    --cor-texto-selecionado-adm: var(--cor-principal-adm);
    --cor-texto-selecionado-usr: var(--cor-principal-usuario); */