:root {
    --cor-fundo: #A0A0A0;
    --azul: #0A8EF2; 
    --azul-claro: #22F2DD;
    --branco: #ffffff;
    --laranja-escuro: #A63C0C;
    --laranja-claro : #FF7B3D;
	--laranja-principal: #F26522;
    --marrom: #A63C0C;
    --preto: #000000;
    --roxo-escuro: #0A14F2;
    --roxo-claro: #0F15A6;
    --verde: #00A695; 
    --verde-claro: #6FF23A;   
}